@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

Button.-primary {
  font-size: 18;
}

Label {
  font-size: 18x;
}

.col {
  margin: 15px;
  padding: 10px;
}

.col Label {
  margin-bottom: 20px;
  text-transform: capitalize;
}
